.container {
  width: 100%;
  background-color: #6752dd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-main {
  padding: 15px;
}
.box-title {
  font-size: 37px;
  font-weight: bold;
  line-height: 1.2;
}
.box-form {
  background-color: #fff;
  border-radius: 10px;
}
.box-form-main {
  color: #0b0e3f;
  margin: 30px;
}
.box-info {
  padding: 25px 0;
}
.box-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0 40px;
}

@media screen and (max-width: 767px) {
  .box-content {
    flex-direction: column;
    gap: 20px 0;
  }
}
